/************************************************************************************************************************************************************

This is the custom stylesheet to make custom edits to the Bootstrap theme

************************************************************************************************************************************************************/


/****************************** General Site Styles ******************************/


body, p, h1, h2, h3, h4, h5, h6, input, td, span, div, button {
font-family: Tauri,Helvetica!important;
font-weight: bold;
}

body {
padding: 3em 0 70px 0;
background: #484848 url(images/blacklinen.png) repeat;
}

div.full-width-container {
margin-top: 25px;
display: block;
max-width: 90%;
margin-left: auto;
margin-right: auto;
}

@media (max-width:991px) and (min-width:768px) {
	div.full-width-container {
	margin-top: 75px;
	}
}

.heading-label {
margin-bottom: 20px;
}

.label {
padding: 0.3em .6em .3em !important;
}

@media (min-width: 1721px) {
	.btn-right-heading {
		margin-left: 85%;
	}
}

@media (min-width: 414px) {
	.btn-right-heading {
		margin-left: 100px;
	}
}


/****************************** Navigation Styles ******************************/


.navbar-nav>li>.dropdown-menu {
width: 100%;
text-align: center;
}

@media (min-width:1200px) {
	.container {
	width: 90% !important;
	}
}

.nav>.active>a>.badge {
color: #428bca;
background-color: #fff;
}


/****************************** Admin Panel ******************************/


#cat-table, #users-table {
display: none;
}